# Virtual env
.venv/
venv/
env/
__pycache__/

# Python artifacts
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Logs, temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
