# pandas-ta from GitHub
git+https://github.com/twopirllc/pandas-ta.git

# python-binance from GitHub
git+https://github.com/sammchardy/python-binance.git

# pandas from GitHub
git+https://github.com/pandas-dev/pandas.git

numpy==1.26.4




# pydantic from GitHub
git+https://github.com/pydantic/pydantic.git

# python-dotenv from GitHub
git+https://github.com/theskumar/python-dotenv.git

# textblob from GitHub
git+https://github.com/sloria/TextBlob.git

# python-json-logger from GitHub
git+https://github.com/madzak/python-json-logger.git

# termcolor from GitHub
git+https://github.com/termcolor/termcolor.git
